/* 헤더 수평으로 */
.fixed-header {
  position: fixed;
  top: 0;
  animation: dropHeader 0.2s;
}

/* 헤더 고정 */
@keyframes dropHeader { 
  0% {
    top: -1rem;
  }

  100% {
    top: 0;
  }
}

.fixed-cate {
  margin-bottom: 40px;
}

